.authLayout {
  background-color: #f5f5f5;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    min-width: 280px;
    padding-top: 16px;
    position: relative;
  }

  .logo {
    height: 48px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }
}
